.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
$main-border: 2px solid black;
$main-color: teal; // variable
.box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  border: $main-border;
  .box__span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: black;
    transition: transform 2s ease-in-out;
    &:hover{
      transform: rotateZ(360deg);
    }
    font: {
      style: italic; 
      size: 50px;
      weight: 600; 
    }    
    .box__p{
      color: $main-color ;
      border: $main-border;
      background-color: tomato;
    }
  }
}//nesting