body {
  background-color: #FFC801;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  .search-form {
    margin: 100px 0;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .search {
      width: inherit;
      height: 5vh;
      text-align: center;
      font-size: 35px;
      border: {
        style: solid;
        width: 6px;
        color: rgba(0,0,0,0.1);
        radius: 10px;
      }
      &:focus {
        outline: none;
      }
    }
    .suggestions {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .city-state {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
        text-transform: capitalize;
        font: {
          size: 20px;
          weight: 100;
        }
        .place {
          margin: 0 20px;
        }
      }
      .city-state:nth-child(odd) {
        border: {
          style: solid;
          width: 2px;
          color:rgba(0,0,0,0.4);
        }
        background-color: white;
        width: 25vw;
        height: 4vh;
        margin: 0;
        list-style: none;
        transform: perspective(100px) rotateX(-3deg) translateY(3px);
      }
      .city-state:nth-child(even) {
        border: {
          style: solid;
          width: 2px;
          color:rgba(0,0,0,0.4);
        }
        background-color: beige;
        width: 25vw;
        height: 4vh;
        margin: 0;
        list-style: none;
        transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
      }
    }
  }
}

